<div *ngIf="dataLoaded==false" class="spinner-border text-info" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<h3>Kralanan Araba Listesi</h3>
<hr/>
<table *ngIf="dataLoaded==true" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>carName</th>
            <th>carPlakaNo</th>    
            <th>companyName</th>
            <th>Name</th>    
            <th>email</th>
            <th>rentDate</th>
            <th>returnDate</th>
        </tr>
    </thead>

    <tr *ngFor="let rental of rentals">
        <td>{{rental.id}}</td>
        <td>{{rental.carName}}</td>
        <td>{{rental.carPlakaNo}}</td>
        <td>{{rental.companyName}}</td>
        <td>{{rental.userFirstName + " " + rental.userLastName}}</td>
        <td>{{rental.email}}</td>
        <td>{{rental.rentDate}}</td>
        <td>{{rental.returnDate}}</td>
    <tr>
</table>
