<div *ngIf="dataLoaded==false" class="spinner-border text-info" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<h3>Araba Listesi</h3>
<hr/>
<table *ngIf="dataLoaded==true" class="table table-striped table-hover">
<thead>
    <tr>
        <th>Id</th>
        <th>Marka</th>
        <th>Renk</th>    
        <th>Model Yılı</th>
        <th>Günlük Ücret</th>    
        <th>Açıklama</th>
    </tr>
</thead>

<tr *ngFor="let carDetail of carDetails">
    <td>{{carDetail.id}}</td>
    <td>{{carDetail.colorName}}</td>
    <td>{{carDetail.brandName}}</td>    
    <td>{{carDetail.modelYear}}</td>
    <td>{{carDetail.dailyPrice | currency:'₺'}}</td>
    <td>{{carDetail.description}}</td>
<tr>
</table>
